*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

header{
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}
header h1{
  font-size: 2em;
}

footer{
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}
main h2{
  font-size: 1.5em;
  margin-bottom: 20px;
}
main form{
  display: flex;
  flex-direction: column;
  width: 300px;
}
form input[type="text"]{
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button{
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

ul{
  list-style-type: none;
  padding: 0;
}

ul li{
  background-color: #f4f4f4;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}