* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f2f2f2;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

header{
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

footer{
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

/* ===== TÃTULO ===== */
h1 {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 20px;
}

/* ===== FORMULARIO ===== */
form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

button {
  padding: 10px 16px;
  background-color: #FFA726;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #f49505;
}

/* ===== LISTA DE TAREAS ===== */
ul {
  list-style: none;
  width: 100%;
  max-width: 400px;
}

li {
  background-color: #fff;
  border-radius: 6px;
  padding: 12px 16px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
}

li>div {
  display: inline;
}

li.completada {
  text-decoration: line-through;
  color: gray;
  opacity: 0.6;
}

/* ===== BOTONES DE CADA TAREA ===== */
li button {
  background-color: #fff;
  color: #333;
  margin-left: 4px;
  font-size: 0.9rem;
  border-radius: 4px;
  padding: 4px 8px;
}

li button:hover {
  background-color: #fff;
}